*.class
*.log
*.crc
*.parquet.crc
*.parquet
/.bsp/
/.idea/
/null/
/target/
/project/target/
/src/main/resources/historical-data/parquet/
/src/main/resources/historical-data/data/
/src/main/resources/historical-data/experiment/
